@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #161513;
  --color-secondary: #222222;

  --animate-fadein: fadein 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: #161513;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.gradient-text {
  background: -webkit-linear-gradient(0deg, #ff8660, #9a33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
