---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource/poppins";
import "@styles/global.css";
import Techs from "@components/Techs.astro";
import Customers from "@components/Customers.astro";
import Contact from "@components/Contact.astro";
import PersonalProjects from "@components/PersonalProjects.astro";
---

<Layout>
  <div class="bg-primary -mt-[96px] min-h-screen">
    <Hero />
    <Customers />
    <PersonalProjects />
    <Techs />
    <Contact />
  </div>
</Layout>
