---
import ClonChatgpt from "@assets/projects/clon-chatgpt.webp";
import Button from "./button.astro";
---

<section class="min-h-screen pt-20 flex items-center">
  <div class="container mx-auto lg:pt-0 px-8">
    <h2 class="text-white text-center font-bold text-4xl mb-20">
      Proyectos personales
    </h2>
    <article class="grid gap-12 md:gap-0 md:grid-cols-2 items-center">
      <div class="text-center md:text-left">
        <h3
          class="text-blue-500 text-center md:text-left text-3xl font-bold mb-4"
        >
          ChatJPG
        </h3>
        <p class="text-lg text-white font-medium mb-12 text-balance">
          Explora el futuro de las experiencias conversacionales impulsadas por
          IA con nuestro ChatJPG. Este proyecto fue creado con <span
            class="gradient-text">Nextjs</span
          >, <span class="gradient-text">Typescript</span>, <span
            class="gradient-text">Tailwindcss</span
          >, <span class="gradient-text">Postgres</span>, <span
            class="gradient-text">Prisma</span
          > y <span class="gradient-text">Cohere.</span>
        </p>
        <Button url="https://clon-chatgpt.vercel.app/home" target="_blank">
          Visitar
        </Button>
      </div>
      <picture class="shrink-0">
        <img
          src={ClonChatgpt.src}
          alt="Doorandoor"
          loading="lazy"
          width="600"
          height="450"
          class="aspect-[4/3] mr-auto rounded-2xl"
        />
      </picture>
    </article>
  </div>
</section>
